<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
	<title>Redirecting</title>
	<style>
body {
    margin-top: 50px;
}
p {
    text-align: center;
}
	</style>
</head>
<body>
<p>系统检测到您的IP：{{ip}}<br>来自{{city}}，{{isp}}网络。<br>已为您选择最近线路，<span id="counter">10</span>秒后自动跳转。</p>
<p><a href="http://hospital.szm.me{{url}}?region={{region}}&city={{city}}&provinceid={{province}}">直接跳转</a></p>
<script>
var c = document.getElementById("counter");
var n = 10;
setInterval(function() {
    --n;
    c.innerText = n;
    if (n<=0) {
        window.location = "http://hospital.szm.me{{url}}?region={{region}}&city={{city}}&provinceid={{province}}";
    }
}, 1000);
</script>
</body>
</html>
